<div class="container  jumbotron-container">
  <div class="jumbotron">
      <p>
        This is a demo version of <strong>Scoring</strong>, my
        front end capstone project at Nashville Software School.
        The source code for this project can be found on
        <a href="https://github.com/jsheridanwells/Scoring-NSS-Cohort-21-Front-End_Capstone" target="_blank">
        Github.
        </a>
      </p>
      <p>
        In this demo version, editing and deleting data has
        been disabled so that users can evaluate the application
        functionality with a full example data set.
      </p>

      <p class="lead float-right">
        <a class="btn btn-primary btn-lg splash-btn" ng-href="#!/register-login" role="button">Sign In</a>
      </p>
  </div>
</div>
